<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="container">
    <div class="login-form">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="logo-container">
          <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        </div>
        <div class="input-field">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="input-field">
          <label for="password">Password</label>
          <div class="password-wrapper">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <span class="toggle-password" onclick="togglePassword()">
              <i class="material-icons">visibility</i>
            </span>
          </div>
        </div>
        <input type="submit" value="Login" class="btn solid">
        <a href="{% url 'password_reset' %}" class="forgot-password">Forgot Password?</a>
      </form>
    </div>
  </div>
  <script>
    function togglePassword() {
      var passwordField = document.getElementById("password");
      var togglePassword = document.querySelector(".toggle-password i");
      if (passwordField.type === "password") {
        passwordField.type = "text";
        togglePassword.textContent = "visibility_off";
      } else {
        passwordField.type = "password";
        togglePassword.textContent = "visibility";
      }
    }
  </script>
</body>
</html>