@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.wrap {
    width: 375px;
    height: 640px;
    background: #0D1019;
    position: relative;
    overflow: hidden;
}

.app {
    width: 375px;
    height: 640px;
    overflow-y: scroll;
}

.statusBar {
    position: fixed;
    z-index: 10;
}

header {
    padding: 25px 16px 0 16px;
}

.notifHeader {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAvatar {
    width: 35px;
    height: 35px;
}

.userAvatar img {
    border-radius: 50%;
    width: 100%;
    cursor: pointer;
}

.options {
    text-align: right;
}

.options i {
    width: 50px;
    color: #fff;
    cursor: pointer;
}

.timeStamp {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.greet {
    color: #fff;
}

.greet p {
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.greet h1 {
    font-size: 40px;
    font-weight: 500;
}

.dayIcon {
    width: 52px;
    height: 52px;
}

.dayIcon i {
    font-size: 60px;
    margin-left: -5px;
    color: yellow;
}

.reminders {
    padding: 0 16px;
    color: #fff;
}

.halfWidth {
    display: flex;
    justify-content: space-between;
}

.todo {
    width: 48%;
    height: 160px;
    border-radius: 10px;
    position: relative;
}

.todo span {
    font-size: 72px;
    font-weight: 300;
    margin: 0 16px;
    line-height: 90px;
}

.todo .fa {
    position: absolute;
    top: 20px;
    right: 20px;
}

.todo p, .todo h4 {
    padding-left: 16px;
}

.todo .line {
    height: 2px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.todo h4 {
    font-weight: 600;
    line-height: 40px;
    cursor: pointer;
}

.halfWidth .todo:first-child {
    background: #FACE14;
}

.halfWidth .todo:last-child {
    background: #F21E60;
}

.fullWidth .todo {
    width: 100%;
    height: 160px;
    background: #8D4DE9;
    border-radius: 10px;
    margin-top: 15px;
    position: relative;
}

.fullWidth .todo span {
    font-size: 72px;
    font-weight: 300;
    margin: 0 16px;
    line-height: 116px;
    float: left;
}

.fullWidth .todo .fa {
    position: absolute;
    top: 20px;
    right: 20px;
}

.fullWidth .todo p {
    padding-top: 72px;
}

.fullWidth .todo .line {
    height: 2px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.3);
    clear: both;
}

.fullWidth .todo h4 {
    font-weight: 600;
    padding-left: 16px;
    line-height: 40px;
    cursor: pointer;
}

.publicActivity {
    width: 600px;
    background: #1E1F27;
    margin: 16px 0;
    padding: 16px 0 16px 16px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}

.card {
    width: 240px;
    height: 160px;
    background: #fff;
    float: left;
    border-radius: 10px;
}

.card:first-child {
    margin-right: 16px;
}

.card .userAvatar {
    width: 32px;
    height: 32px;
    margin: 16px;
    margin-bottom: 10px;
    float: left;
}

.card .userAvatar img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.card .userName {
    margin-top: 25px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.card .text {
    clear: both;
    line-height: 24px;
    margin: 0 16px;
    font-size: 20px;
}

.card .line {
    height: 2px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.card .action .activityIcon {
    width: 42px;
    height: 42px;
    text-align: center;
    float: left;
}

.card .action .activityIcon i {
    line-height: 42px;
    color: #99cc66;
    cursor: pointer;
}

.card .action span {
    color: #99cc66;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    line-height: 42px;
}

.friends {
    width: 100%;
    height: 300px;
    padding: 0 16px;
    margin: 16px 0;
}

.friends .title {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
}

.friends .card {
    width: 100%;
    height: 422px;
    background: #fff;
    border-radius: 10px;
    margin-top: 16px;
}

.friends .card .cardCol {
    height: auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.friends .card .cardCol:last-child {
    border-bottom: none;
}

.friends .card .cardCol .userAvatar {
    width: 30px;
    height: 30px;
    float: left;
    margin: 16px 16px 5px 16px;
}

.friends .card .cardCol .userAvatar img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.friends .card .cardCol .userName {
    padding-top: 26px;
    font-weight: 600;
    font-size: 14px;
}

.friends .card .cardCol span {
    float: right;
    margin: -15px 15px 0 0;
    font-size: 14px;
    cursor: pointer;
    color: #99cc66;
    font-weight: 600;
}

.friends .card .cardCol .activity {
    line-height: 24px;
    margin: 0 16px;
    font-size: 18px;
    clear: both;
    padding-bottom: 16px;
    opacity: 0.7;
}

.empty {
    width: 100%;
    height: 216px;
}

.tabs {
    width: 100%;
    height: 60px;
    background: #161724;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.tab {
    width: 25%;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.tab:first-child {
    background: #14151e;
}

.tab:hover {
    background: #14151e;
}

@media screen and (max-width: 380px) {
    .wrap {
        width: 100vw;
        height: 100vh;
        background: #0D1019;
    }

    .app {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
}
