{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="shortcut icon" href="{% static 'dashboard/images/AttendEase Logo.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
</head>

<body>
    <header>
        <div class="logo" title="COLLEGE Management SYSTEM">
            <h2><span class="danger">ATTEND</span>EASE</h2>
        </div>
        <div class="navbar">
            <a href="{% url 'student_dashboard' %}" class="active">
                <span class="material-icons-sharp">home</span>
                <h3>Home</h3>
            </a>
            <a href="{% url 'timetable' %}" onclick="timeTableAll()">
                <span class="material-icons-sharp">today</span>
                <h3>Time Table</h3>
            </a> 
            <a href="{% url 'exam' %}">
                <span class="material-icons-sharp">grid_view</span>
                <h3>Examination</h3>
            </a>
            <a href="{% url 'change_password' %}">
                <span class="material-icons-sharp">password</span>
                <h3>Change Password</h3>
            </a>
            <a href="{% url 'logout' %}" onclick="logout()">
                <span class="material-icons-sharp">logout</span>
                <h3>Logout</h3>
            </a>
        </div>
        <div id="profile-btn">
            <span class="material-icons-sharp">person</span>
        </div>
        <div class="theme-toggler">
            <label class="switch">
                <input type="checkbox" id="themeToggle">
                <span class="slider"></span>
            </label>
        </div>
    </header>
    <div class="container">
        <aside>
            <div class="profile">
                <div class="top">
                    <div class="profile-photo">
                        <a href="{% url 'profile' %}" class="profile-photo">
                            <img id="profile-picture" src="{% static 'dashboard/images/profile-placeholder.png' %}" alt="Profile Picture">
                        </a>
                    </div>
                    <div class="info">
                        <p>Hey, <b>{{ user.username }} </b></p>
                        <small class="text-muted"></small>
                    </div>
                </div>
                <div class="about">
                    <h5>Roll Number</h5>
                    <p>{{ user.roll_number }}</p>
                    <h5>Class</h5>
                    <p>{{ user.class }}</p>
                    <h5>Section</h5>
                    <p>{{ user.section }}</p>
                </div>
            </div>
        </aside>

        <main>
            <h1>Attendance</h1>
            <div class="subjects">
                <div class="subject-card">
                    <span class="material-icons-sharp">architecture</span>
                    <h3>O.O.S.D<br>KCS 054</h3>
                    <h2>12/14</h2>
                    <div class="progress">
                        <svg><circle cx="38" cy="38" r="36"></circle></svg>
                        <div class="number"><p>86%</p></div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <div class="subject-card">
                    <span class="material-icons-sharp">functions</span>
                    <h3>D.A.A<br>KCS503</h3>
                    <h2>27/29</h2>
                    <div class="progress">
                        <svg><circle cx="38" cy="38" r="36"></circle></svg>
                        <div class="number"><p>93%</p></div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <div class="subject-card">
                    <span class="material-icons-sharp">computer</span>
                    <h3>A.I<br>KAI501</h3>
                    <h2>27/30</h2>
                    <div class="progress">
                        <svg><circle cx="38" cy="38" r="36"></circle></svg>
                        <div class="number"><p>81%</p></div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <div class="subject-card">
                    <span class="material-icons-sharp">dns</span>
                    <h3>D.B.M.S<br>KCS501</h3>
                    <h2>24/25</h2>
                    <div class="progress">
                        <svg><circle cx="38" cy="38" r="36"></circle></svg>
                        <div class="number"><p>96%</p></div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <div class="subject-card">
                    <span class="material-icons-sharp">router</span>
                    <h3>Web Dev<br>KCS 052</h3>
                    <h2>25/27</h2>
                    <div class="progress">
                        <svg><circle cx="38" cy="38" r="36"></circle></svg>
                        <div class="number"><p>92%</p></div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
            </div>

            <h1>Marks</h1>
            <div class="subjects">
                <table>
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Marks Obtained</th>
                            <th>Total Marks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>O.O.S.D</td>
                            <td>85</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>D.A.A</td>
                            <td>90</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>A.I</td>
                            <td>88</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>D.B.M.S</td>
                            <td>92</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Web Dev</td>
                            <td>89</td>
                            <td>100</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h1>Timetable</h1>
            <div class="timetable" id="timetable">
                <div>
                    <span id="prevDay">&lt;</span>
                    <h2>Today's Timetable</h2>
                    <span id="nextDay">&gt;</span>
                </div>
                <span class="closeBtn" onclick="timeTableAll()"></span>
                <table>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Room No.</th>
                            <th>Subject</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </main>

        <div class="right">
            <div class="announcements">
                <h2>Announcements</h2>
                <div class="updates">
                    {% for announcement in announcements %}
                    <div class="message">
                        <p><b>{{ announcement.title }}</b> {{ announcement.content }}</p>
                        <small class="text-muted">Posted on {{ announcement.date_posted }}</small>
                    </div>
                    {% empty %}
                    <p>No announcements available.</p>
                    {% endfor %}
                </div>
            </div>

            <div class="leaves">
                <h2>Teachers on leave</h2>
                <div class="teacher">
                    <div class="profile-photo"><img src="{% static 'dashboard/images/456711115_539627491827728_8912418473151323189_n.jpg' %}" alt=""></div>
                    <div class="info">
                        <h3>Mr. Manoj Yadav</h3>
                        <small class="text-muted">Half Day</small>
                    </div>
                </div>
                <div class="teacher">
                    <div class="profile-photo"><img src="{% static 'dashboard/images/profile-4.jpg' %}" alt=""></div>
                    <div class="info">
                        <h3>Rahul Pandey</h3>
                        <small class="text-muted">Full Day</small>
                    </div>
                </div>
                <div class="teacher">
                    <div class="profile-photo"><img src="{% static 'dashboard/images/aadarsh.jpeg' %}" alt=""></div>
                    <div class="info">
                        <h3>Prof. Adarsh</h3>
                        <small class="text-muted">Full Day</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'dashboard/js/app.js' %}"></script>
    <script src="{% static 'dashboard/js/timeTable.js' %}"></script>
    <script src="{% static 'dashboard/js/profile.js' %}"></script>
</body>
</html>